    canvas {
      border: 10px double #AAAACC;
      background-color: #CCCCFF;
    }

    body {
      background: linear-gradient(to right, #ff99e7, #ffcef3);
    }
    #gameSpace{
      margin: auto;
      width: 540px;
      z-index: 1;
    }
    #score {
      font-family: "Comic Sans MS";
      font-size: 24px;
    }
    #head{
      position: fixed;
      display: block;
      top: 150px;
      left:0;
      right:0;
      z-index: -1;
      visibility: visible;
    }
@media only screen and (max-width: 1050px){
    #head{
      position: relative;
      margin: auto;
      top: 20px;
      height: 300px;
      visibility: visible;
    }
}
